<ion-header>
   <ion-navbar hideBackButton>
      <ion-title text-center>{{appTitle}}</ion-title>
   </ion-navbar>
</ion-header>

<ion-content padding class="cards-bg">
   <div class="bg-layout-container"></div>
   <ion-card>
      <ion-card-content>
         <div class="register-title-container" text-center>
            <h2>
               <i class="fa fa-user" aria-hidden="true"></i> Register</h2>
         </div>
         <form [formGroup]="userRegistrationForm" (ngSubmit)="onRegister()">
            <ion-row>
               <ion-col>
                  <ion-list>
                     <ion-item>
                        <ion-input id="username" formControlName="username" placeholder="Username" type="text"></ion-input>
                     </ion-item>
                     <ion-item>
                        <ion-input id="password" formControlName="password" placeholder="Password" type="password" type="password"></ion-input>
                     </ion-item>
                     <ion-item>
                        <ion-input id="fullname" formControlName="fullname" placeholder="Fullname" type="text"></ion-input>
                     </ion-item>
                     <ion-item>
                        <ion-input id="email" formControlName="email" placeholder="Email" type="text"></ion-input>
                     </ion-item>
                     <ion-item>
                        <ion-select id="majoring" name="majoring" placeholder="Majoring" formControlName="majoring" block>
                           <ion-option *ngFor="let majoring of majorings" value="{{ majoring.id }}">{{ majoring.name }}</ion-option>
                        </ion-select>
                     </ion-item>
                     <ion-item>
                        <ion-input id="school" formControlName="school" placeholder="School"></ion-input>
                     </ion-item>
                     <ion-item>
                        <ion-input id="contact" formControlName="contact" placeholder="Contact"></ion-input>
                     </ion-item>
                     <ion-item>
                        <ion-textarea id="address" formControlName="address" placeholder="Address"></ion-textarea>
                     </ion-item>
                  </ion-list>
               </ion-col>
            </ion-row>
            <ion-row>
               <ion-col text-center>
                  <div *ngIf="invalidFieldMsg" class="alert alert-danger errors">{{ invalidFieldMsg }}</div>
                  <button ion-button class="submit-btn" full type="submit" [disabled]="!userRegistrationForm.valid" [attr.disabled]="!isRegistering">{{btnRegisterText}}</button>
               </ion-col>
            </ion-row>
         </form>

      </ion-card-content>
   </ion-card>
   <div text-center>
      <ion-col text-center>
         <button (click)="gotoLoginPage()" ion-button clear>Back</button>
      </ion-col>
   </div>
</ion-content>