<ion-header>
   <ion-navbar>
      <ion-title text-center><ion-icon name="unlock"></ion-icon> Forgot Password</ion-title>
   </ion-navbar>
</ion-header>

<ion-content padding class="cards-bg">
   <div class="bg-layout-container"></div>
   <ion-card>
      <ion-card-content>
         <div text-center class="forgot-title-container">
            <h1>Enter your email below</h1>
         </div>
         <form #forgotPasswordForm="ngForm" (ngSubmit)="onSend(forgotPasswordForm.value)">
            <ion-row>
               <ion-col>
                  <ion-list inset>
                     <ion-item>
                        <ion-input placeholder="Email" type="email" id="email" name="email" email class="form-control" [(ngModel)]="email" required autocomplete="false"></ion-input>
                     </ion-item>
                  </ion-list>
               </ion-col>
            </ion-row>
            <ion-row>
               <ion-col text-center>
                  <button ion-button type="submit" [disabled]="!forgotPasswordForm.valid" class="btn btn-lg btn-warning btn-block">{{ btnResetText }}</button>
               </ion-col>
            </ion-row>
         </form>
      </ion-card-content>
   </ion-card>
   <div text-center>

      <div style="text-align: center">
         <button *ngIf="!isLogin" (click)="gotoLogin()" ion-button clear>Back to login</button>
         <button *ngIf="isLogin" (click)="onBack()" ion-button clear>Back</button>
      </div>
   </div>
</ion-content>