page-exam-results {

   .list-md {
      margin:0;
   }

   .border-bottom {
      border-bottom: thin #CCC solid;
   }

   .border-bottom:last-child {
      border-bottom: thin #CCC solid;
   }

   ion-row > .button-md {
      margin:0 !important;
      height: 2.6rem;
   }

   .font-size-2 {
      font-size: 2.2em;
      color:#449d44;
   }

   .line-height-18 {
      line-height: 18px !important;
      font-size: 1.1rem !important;
      padding:0 !important;
      margin:0 !important;
   }

   .ion-md-close {
      color:red;
   }

   
}
